@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #06f;
}

/* fonts ----------------->  */

@font-face {
  font-family: 'Satoshi Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Satoshi-Regular.woff');
}

@font-face {
  font-family: 'Satoshi Light';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Satoshi-Light.woff');
}

@font-face {
  font-family: 'Satoshi Medium';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Satoshi-Medium.woff');
}

@font-face {
  font-family: 'Satoshi Bold';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Satoshi-Bold.woff');
}

@font-face {
  font-family: 'Satoshi Black';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Satoshi-Black.woff');
}

/* linear gradients ----------------->  */

.btnGr {
  background: var(--Gradient, linear-gradient(180deg, #00d1ff 0%, #06f 100%));
}

.textGr {
  background: var(--Gradient, linear-gradient(180deg, #00d1ff 0%, #06f 100%));
  -webkit-background-clip: text;
  color: transparent;
}

.bgGr {
  border-radius: 822.053px;
  opacity: 0.6;
  background: var(--Light-Blue, #00d1ff);
  filter: blur(100px);
}

/* linear gradients ends here ---------------->  */

/* shadows ---------------> */

.cardShadow {
  box-shadow: 0px 0px 28px 4px rgba(135, 135, 135, 0.15);
}

.stackBg {
  background-color: rgba(0, 208, 255, 0.2);
}
.inputBg {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

/* shadows ends here -------------> */

/* drawer styles ------------>  */

@media screen and (max-width: 700px) {
  .darwer {
    width: 60% !important;
  }
}
@media screen and (max-width: 500px) {
  .darwer {
    width: 100% !important;
  }
}

/* drawer styles ends here ------------->  */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-transition {
  transition: background-color 0.3s ease, color 0.3s ease;
}
