.wrapper-outer {
  width: 100%;
  height: 100%;
}
.wrapper-inner {
  width: 100%;
  height: 100%;
  max-width: 1300px;
  margin: auto;
  padding: 0px 20px;
}

@media (max-width: 976px) {
  .wrapper-inner {
    padding: 16px;
  }
}
