.stakeContainer {
  width: 100%;
  position: relative;
  padding: 70px 0px;
  min-height: calc(100vh - 106px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}
.leftPortionCon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftPortion {
  width: 100%;
  max-width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lTitle {
  color: white;
  line-height: 72px;
  font-size: 56px;
  font-family: Satoshi;
  font-weight: 700;
}

.lDes {
  color: white;
  font-size: 24px;
  line-height: 30px;
  margin-top: 16px;
  font-family: Satoshi;
  font-weight: 300;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: white;
  margin: 40px 0px;
}

.statisticsCon {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid white;
  border-radius: 24px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.statTitle {
  font-size: 40px;
  color: white;
  font-family: Satoshi;
  font-weight: 500;
}
.stTableCon {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.rowCon {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statRowName {
  font-size: 20px;
  color: white;
  font-family: Satoshi;
  font-weight: 300;
}

.statRowValue {
  font-size: 20px;
  color: white;
  font-family: Satoshi;
  font-weight: 700;
}

.rightPorCon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightPortion {
  width: 100%;
  max-width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: white;
  border-radius: 24px;
  padding: 32px;
}
.stakeT {
  color: black;
  font-size: 40px;
  text-align: center;
  font-family: Satoshi;
  font-weight: 700;
}

.stakeD {
  width: 100%;
  max-width: 430px;
  text-align: center;
  color: black;
  font-size: 24px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 34px;
}
.buttonCon {
  width: 100%;
  height: 83px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 208, 255, 0.2);
  border-radius: 64px;
}
.buttonSlide {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  bottom: 0.5rem;
  width: 50%;
  height: 80%;
  background-color: #06f;
  border-radius: 64px;
  transition: transform 0.3s;
}

.buttonSlideTransformNone {
  transform: none;
}

.buttonSlideTranslate {
  transform: translateX(90%);
}

.buttonSlideTranslateSm {
  transform: translateX(90%);
}

.buttonSlideTranslateMd {
  transform: translateX(94%);
}
.button {
  width: 100%;
  height: 100%;
  border-radius: 64px;
  font-size: 18px;
  transition: all 0.3s;
  font-family: Satoshi;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: transparent;
}

.buttonSm {
  font-size: 20px;
}

.buttonStakeActive {
  color: white;
  z-index: 20;
}

.buttonStakeInactive {
  background-color: transparent;
  color: black;
}

.buttonUnstakeActive {
  color: white;
  z-index: 20;
}

.buttonUnstakeInactive {
  background-color: transparent;
  color: black;
}

.inputWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.eachIW {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-size: 20px;
  color: black;
  font-family: Satoshi;
  font-weight: 500;
}
.balnW {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.balIcon {
  font-size: 24px;
  color: #06f;
}

.balText {
  font-size: 20px;
  font-weight: 700;
  color: #06f;
  font-family: Satoshi;
}

.balValue {
  font-size: 20px;
  color: #06f;
  font-weight: 700;
  font-family: Satoshi;
}
.input {
  width: 100%;
  height: 80px;
  border-radius: 16px;
  padding: 0px 16px;
  font-size: 32px;
  text-align: right;
  font-family: Satoshi;
  font-weight: 300;
}
.input:focus {
  outline: #06f;
}

.stakeUnButton {
  width: 100%;
  color: white;
  font-size: 22px;
  height: 68px;
  border-radius: 64px;
  font-family: Satoshi;
  font-weight: 700;
  letter-spacing: 1px;
}
.stakeUnButton:hover {
  opacity: 80%;
}
.stakeUnButton:active {
  transform: translateY(2px);
}
.netWra {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.netTit {
  font-size: 20px;
  color: black;
  font-family: Satoshi;
  font-weight: 300;
}

.netVal {
  font-size: 20px;
  color: black;
  font-family: Satoshi;
  font-weight: 500;
}
.icpWra {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.netCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0px 12px;
}
.stakeGr1 {
  width: 500px;
  height: 480px;
  position: absolute;
  left: -8rem;
  z-index: -10;
  top: -6rem;
}
.stakeGr2 {
  width: 600px;
  height: 530px;
  position: absolute;
  right: 0px;
  z-index: -10;
  bottom: 4rem;
}
.stakeGr3 {
  width: 200px;
  height: 350px;
  position: absolute;
  left: 0;
  z-index: -10;
  bottom: -4rem;
}
@media screen and (max-width: 1100px) {
  .sContainer {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .sContainer {
    grid-template-columns: 1fr;
  }
  .stakeGr1 {
    width: 250px;
  }
  .stakeGr2 {
    width: 300px;
  }
  .stakeGr3 {
    width: 200px;
  }
  .lTitle {
    font-size: 48px;
    line-height: 60px;
  }
  .lDes {
    font-size: 20px;
  }
  .separator {
    margin: 32px 0px;
  }
  .statisticsCon {
    padding: 16px;
  }
  .statTitle {
    font-size: 32px;
  }
  .stTableCon {
    gap: 12px;
  }
}
@media screen and (max-width: 480px) {
  .sContainer {
    grid-template-columns: 1fr;
  }
  .netCon {
    gap: 8px;
  }
  .stakeGr1 {
    height: 400px;
    top: -48px;
    left: -24px;
  }
  .stakeGr2 {
    height: 300px;
    width: 200px;
  }
  .stakeGr3 {
    width: 300px;
    height: 300px;
  }
  .lTitle {
    font-size: 40px;
    line-height: 50px;
  }
  .lDes {
    font-size: 18px;
  }
  .separator {
    margin: 24px 0px;
  }
  .statTitle {
    font-size: 26px;
  }
  .statRowName {
    font-size: 18px;
  }
  .statRowValue {
    font-size: 18px;
  }
  .rightPortion {
    gap: 16px;
    padding-top: 24px;
    padding-bottom: 24px 16px;
  }
  .stakeD {
    font-size: 20px;
    line-height: 30px;
  }
  .buttonCon {
    height: 70px;
  }

  .label {
    font-size: 16px;
  }

  .balText {
    font-size: 16px;
  }
  .balValue {
    font-size: 16px;
  }
  .input {
    height: 60px;
    font-size: 26px;
  }

  .stakeUnButton {
    font-size: 20px;
    height: 60px;
  }

  .netWra {
    margin-top: 4px;
  }
  .netTit {
    font-size: 16px;
  }
  .netVal {
    font-size: 18px;
  }
  .stakeContainer {
    padding: 40px 0px;
  }
  .buttonSlideTranslateMd {
    transform: translateX(90%);
  }
  .rightPortion {
    padding: 30px 20px;
  }
}
